.carousel {
  display: flex;
  flex-direction: column;
  gap: 42px;
  .thumbnail {
    width: 120px;
    height: 120px;
  }

  .indicator {
    display: flex;
    gap: 8px;
    position: relative;

    .left-thumb {
      position: absolute;
      top: 50px;
      left: 0;
    }

    .right-thumb {
      position: absolute;
      top: 50px;
      right: 0;
    }
  }
}
