@import 'normalize.css';
@import 'font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

.search-input,
input:focus {
  width: -webkit-fill-available;
  padding: 4px;
  outline: none;
  border: 1px solid #babfc0;
  text-indent: 30px;
  font-size: 14px;
}

.hr-custom {
  background-color: #909090;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c70016;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.banner-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  color: white;
  flex-direction: column;
}

.product-logo {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}

.product-logo:hover {
  border: 1px solid #c70016;
}

.product-fit {
  width: 330px;
  height: 240px;
}

.product-size {
  width: 46px;
  height: 46px;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-size:hover {
  border: 1px solid #c70016;
}

.accordion {
  display: flex;
  padding-block: 14px;
  justify-content: space-between;
  border-top: 1px solid #909090;
}

.carousel-btn {
  position: absolute;
  top: 130px;
  width: 45px;
  height: 45px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  > svg {
    fill: white;
  }
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}

.comments {
  border: 1px solid #909090;
}
.pagination {
  justify-content: center;
  div:first-of-type {
    background-color: black;
    color: white;
  }
  div {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  div:hover {
    border: 1px solid #c70016;
  }
}

.footer {
  height: 120px;
  background: black;
  display: flex;
  justify-content: space-between;
  padding-inline: 170px;
  align-items: center;

  > div {
    flex-direction: column;
    align-items: center;
  }

  div > svg {
    width: 48px;
    height: 48px;
  }

  div > span {
    color: white;
  }
}

.pb-64 {
  padding-bottom: 64px;
}

.pt-64 {
  padding-top: 64px;
}
